name: build

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    strategy:
      fail-fast: true
      matrix:
        os:
          #- macos-latest
          - ubuntu-latest
        ocaml-compiler:
          - '4.12'
          - '5.1'

    runs-on: ${{ matrix.os }}

    steps:
      #- run: brew install openssl
      #  if:  matrix.os == 'macos-latest'

      - name: Checkout code
        uses: actions/checkout@v2

      - name: Use OCaml ${{ matrix.ocaml-compiler }}
        uses: ocaml/setup-ocaml@v2
        with:
          ocaml-compiler: ${{ matrix.ocaml-compiler }}
          allow-prerelease-opam: true

      - name: Install dependencies for irky
        run: opam install . --deps-only --with-doc --with-test
      
      - name: Install SSL (optional)
        run: opam install ssl -y
        continue-on-error: true
      
      - name: Build irky
        run: opam exec -- dune build @install
      
      - name: Run tests
        run: opam exec -- dune runtest
      
      - name: Install Eio dependencies (OCaml 5.x only)
        if: startsWith(matrix.ocaml-compiler, '5')
        run: |
          opam install iostream eio eio_main cstruct -y
        continue-on-error: true
      
      - name: Build irky-eio (OCaml 5.x only)
        if: startsWith(matrix.ocaml-compiler, '5')
        run: opam exec -- dune build irky-eio.opam
        continue-on-error: true
